/* Initial styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: noto;
  font-family: "Raleway", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --black: #0d0d0d;
  --container: #1f1f1f;
  --red: #ed2553;
  --red-hover: #991030;
  --error: red;
  --super-light-grey: #888;
  --light-grey: #5a5a5a;
  --notification: #008cff;
  --background-blur: rgba(136, 136, 136, 0.603);
  --white: white;
  --red-blur: #ed265580;
}

/* Body and Scrollbar */
body {
  background-color: var(--black);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-grey);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--super-light-grey);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Generic stryles */
.container {
  background-color: var(--container);
  max-width: 1200px;
  margin: auto;
  border-radius: 8px;
  padding-bottom: 30px;
  min-height: 200px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  overflow-anchor: none;
}

.title {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.faded {
  color: var(--light-grey);
}

.link {
  color: var(--red);
}

.error {
  color: var(--error);
  margin-bottom: 10px;
}

.centered-message {
  text-align: center;
}

.input-dark {
  border: none;
  background-color: var(--light-grey);
}

.button {
  background-color: var(--red);
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:disabled {
  background-color: var(--light-grey);
}

.favorite-button {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.favorite-button i {
  margin-right: 10px;
}

.show-more {
  background-color: transparent;
  border: none;
  font-size: 15px !important;
  color: var(--red);
}
.show-more:hover {
  color: var(--red-hover);
}

.side-menu {
  position: fixed;
  z-index: 1;
  right: -60%;
  transition: transform 1s;
  transform: translate(-100%);
  top: 0;
  height: 100vh;
  width: 60%;
  background-color: var(--red);
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.side-menu h1 {
  padding: 10px 10px;
  background-color: var(--container);
}

.side-menu ul li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  font-size: 20px;
}
.side-menu ul a {
  text-decoration: none;
}

.side-menu ul li:hover {
  background-color: var(--red-hover);
}

/* Notification */
.notification-container {
  position: fixed;
  z-index: 2;
  padding: 20px;
  right: 30px;
  bottom: 50px;
  border-radius: 10px;
  background-color: var(--notification);
  width: 300px;
  transition: right 1s;
}

.notification-container.closed {
  right: -300px;
}

.error-message {
  background-color: var(--red);
}

/* Modal */
.modal-background {
  top: 0;
  position: fixed;
  height: 150vh;
  width: 100%;
  background-color: var(--background-blur);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modal-box {
  margin-top: 400px;
  width: 500px;
  height: fit-content;
  background-color: var(--container);
  padding-bottom: 40px;
  border-radius: 10px;
}

.modal-box p {
  margin-bottom: 15px;
}

.modal-buttons {
  width: fit-content;
  margin: auto;
}

.modal-buttons button {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}

/* NavBar */
nav {
  height: 50px;
  width: 100%;
  background-color: var(--container);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.nav-link {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  position: relative;
  border: 0px;
  background-color: transparent;
  font-size: 15px;
}

.nav-link-selected::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: 0;
  background-color: var(--white);
}

.nav-link:hover {
  background-color: var(--light-grey);
  border: 0px;
}

.login-links {
  position: absolute;
  right: 3%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  align-self: center;
  position: relative;
  display: flex;
  height: 37px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px;
}

.search-bar input {
  padding: 10px;
  height: 37px;
  width: 300px;
}

.search-bar button {
  height: 37px;
  width: 40px;
  border: none;
  font-size: 15px;
  background-color: var(--red);
}

.nav-profile-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 10px;
}

.nav-profile-container img {
  height: 40px;
  min-width: 40px;
}

.hamburger {
  display: none;
}

.account-side {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: var(--container);
  width: 100%;
  height: 80px;
  align-items: center;
}

.account-side .nav-profile-container {
  margin: 0;
  margin-left: 10px;
  height: 60px;
  width: 60px;
}

.account-side .nav-profile-container img {
  height: 60px;
  width: 60px;
}

.account-side i {
  position: absolute;
  right: 10px;
  font-size: 20px;
}
/* MovieList */
.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-container {
  width: 19.5%;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  margin: 0 auto 10px;
  position: relative;
}

.movie-container div {
  border-radius: 7px;
  overflow: hidden;
}

.movie-container::after {
  content: "";
  position: absolute;
  min-height: 400px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: rgba(44, 44, 44, 0.192);
}

.movie-container:hover::after {
  content: none;
}

.movie-container img {
  width: 100%;
}

.movie-container p {
  background-color: var(--light-grey);
  padding: 2px 7px;
  text-align: center;
  max-height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.movie-container a {
  text-decoration: none;
}

/* Creation forms */
.creation_nav {
  background-color: var(--red);
}

.creation_nav .nav-link:hover {
  background-color: var(--red-hover);
}

.input-add {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.form-pair {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.form-pair label {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-button {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  font-size: 24px;
}

/* Details page */
.details_cover {
  width: 400px;
  margin-left: 30px;
  height: auto;
  border-radius: 10px;
}

.details_container {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.edit-button {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
}

.details_info {
  padding-left: 40px;
  margin-right: 40px;
}

.info_container_title {
  margin: 20px 0 5px 0;
}

.info_container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.details-releaseDate {
  margin-top: 20px;
  color: var(--super-light-grey);
}

/* Tags and Cast box*/
.tag {
  background-color: #3a3a3a;
  font-size: 14px;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.tag:hover {
  background-color: #474747;
}

.tag a {
  text-decoration: none;
  display: flex;
}

.tag a span {
  padding: 7px;
}

.tag a span:nth-child(2) {
  background-color: #222222;
  transition: 0.2s;
}

.tag:hover a span:nth-child(2) {
  background-color: #303030;
}

.account-form-option {
  margin-left: 10%;
}

/* Tag input */
.form-tag {
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
  background-color: #3a3a3a;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.form-tag div {
  display: flex;
  align-items: center;
}

.form-tag div span {
  padding: 7px;
  height: fit-content;
}

.form-tag button {
  border-radius: 100%;
  border: none;
  background-color: var(--red);
  width: 17px;
  height: 17px;
  font-size: 10px;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.click-add-container {
  position: relative;
  display: flex;
  background-color: var(--container);
  border-radius: 10px;
  overflow: hidden;
}

.click-add-container select {
  background-color: var(--container);
  border: none;
  padding: 7px;
  height: 32px;
  border-radius: 5px;
  margin-right: 10px;
}

.click-add-container button {
  width: 30px;
  font-size: 20px;
  border-radius: 0;
  min-height: 32px;
  width: 32px;
}

.click-add-container input {
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

/* Person info page */
.person-info {
  width: 100%;
}

/* Profile page */
.profile-info {
  margin-top: 10px;
  color: var(--super-light-grey);
}

.selected-text i {
  color: var(--red);
}

/* Edit page */
.edit-image {
  position: relative;
  width: fit-content;
  margin: 30px 0 30px 40px;
}

.edit-image img {
  margin: 0;
}

.edit-image div {
  background-color: var(--red-blur);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-buttons-container {
  align-self: center;
  width: 40%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.edit-buttons-container button {
  width: 47%;
}

@media (max-width: 1200px) {
  .container {
    border-radius: 0px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .movie-container {
    width: 24.5%;
  }
  .details_container {
    flex-direction: column;
  }
  .details_cover {
    margin: 0;
  }
  .details_info {
    margin-top: 10px;
  }
  .details-img-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .edit-image {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

@media (max-width: 850px) {
  .nav-link {
    display: none;
    padding: 0 10px;
  }
  .creation_nav .nav-link{
    display: flex;
  }
  .hamburger {
    display: inherit;
    height: 40px;
    width: 40px;
    background-color: var(--super-light-grey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger:hover {
    background-color: var(--light-grey);
  }
  .home-link {
    display: flex;
  }
  .search-bar {
    width: calc(100% - 100px);
  }
  .search-bar input {
    width: 100%;
  }
  .login-links {
    display: none;
  }
}

@media (max-width: 750px) {
  .movie-container {
    width: 32.7%;
  }
  .edit-buttons-container {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .movie-container {
    width: 49.5%;
  }
  .details_cover {
    width: 100%;
    border-radius: 0;
  }
  .details_info {
    padding: 0;
    width: 90%;
    margin: 20px 5% 0 5%;
  }
}
